.crystal-image {
    width: 25%;
    height: auto;
  }

  
  body { 
      background-color: #BACDD9; 
      color: #587799;
}

h1 {
  color: #2C466A;
}

.card {
  background-color: #ECF5FA ;
}

#targetCard {
  height: 200%;
}
